template#image-template
    .image-wrap.clearfix.tab
        aside.image-nav-wrap.tab-nav
            .image-nav
                span 自定义
            .image-nav
                span 图片库

        section.image-content-wrap.tab-content
            .image-content.add-image.no-image
                .image-view-wrap.clearfix
                    .image-view
                .no-image-inner
                    a.button.image-sure(href="javascript:;")
                        |确定
                    a.button.add-image-button(href="javascript:;")
                        |点击选择图片
                    p
                        |或将图片拖到这里
            .image-content.
                

