body {
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
input {
    outline: none;
}
a {
  color: #00B7FF;
  outline: none;
}
.button {
    display: inline-block;
    padding: .5em 1.75em;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    background-color: #4390c3;
}
.wrapper {
    padding: 20px;
}
.form-item {
    margin-bottom: 15px;
}
.form-item input {
    height: 28px;
    width: 220px;
    padding: 0 5px;
}